body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

/* Duffl */

.navbar-nav a {
  text-decoration: none;
}

.navbar-nav li {
  margin-top: 12px;
  margin-right: 10px;
  font-size: 18px;
}

.h1-style {
  text-align: center;
  padding: 10px;
}

.logo-div {
  display: flex;
  margin-top: 3px;
}

.duff {
  margin-top: 16px;
  margin-bottom: -10px;
}

.duffl-logo {
  display: inline-block;
  width: 90px;
}

.duff-div {
  color: white;
  margin-right: 25px;
}

.tag {
  margin: 2px 0 0 7px;
  font-size: 12px;
}

nav {
  background-color: #ff5d00 !important;
  margin-bottom: 10px;
}

.inner {
  padding-left: 40px;
  padding-right: 40px;
}

body {
  background-color: #ebeff5;
}

#total-orders {
  background-color: #4cb4c7;
}

#orders-delivered {
  background-color: #7abecc;
}

#orders-pending {
  background-color: #7cd1c0;
}

.status a {
  margin: auto;
}

.status hr {
  margin-bottom: 20px;
}

tr td {
  padding-top: 10px !important;
  padding-bottom: 10px !important;
}

.table {
  margin-top: 15px;
  margin-bottom: 0px;
}
